*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
    font-family: var(--font-family);
    color: var(--almost-black);
    font-size: var(--font-size);
    line-height: 1.3rem;
    font-weight: 500;
    font-size: 16px;
}

.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.justify-content{
    justify-content: center;
}
.align-items{
    align-items: center;
}
.ai-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}
a, a:visited, a:hover {
    text-decoration: none;
    color: var(--almost-black);
}
  
.font--medium {
    font-weight: 500;
}
.font--bold {
    font-weight: 700;
}

h1,
h2,
h3,
h4 {
  line-height: 1.0;
  margin-bottom: 0.75rem;
  font-family: inherit;
}
h1 {
  font-size: 3rem;
  
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

// <--- Scroll Bar --->
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: #a1cff1;
    cursor: pointer;
  }
  
::-webkit-scrollbar-thumb:hover {
    opacity: 0.6;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.cursor{
    cursor: pointer;
}

.font--medium {
    font-weight: 500;
}


.social-media{
  background-color: hsl(105, 73%, 37%);
  padding: 10px 25px;
  color: #f1f1f1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: large;
  &:hover{
    opacity: 0.7;
  }
}

.ux-design{
  margin-bottom: 20px;
}


// <--- Contact Details --->

input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: hsl(202, 100%, 45%);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  opacity: 0.7;
}

.container {
  background-color: #F9F9FD;
  padding: 20px;
  border-radius: 30px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

// <--- End --->

.tech{
  margin-top: 30px;
}

.more-project-bg{
  padding: 80px 0;
  background-color: hsl(228, 33%, 94%);
  margin: 0 auto;
  border-radius: 50%;

  button{
    margin-top: 30px;
    background-color: hsl(230, 29%, 15%);
    padding: 20px 50px;
    border: none;
    color:hsl(228, 33%, 94%);
    border-radius: 20px;
    transition: 0.5s;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    &:hover{
      opacity: 0.7;
    }
  }
}

.more-project{
  padding: 80px 0; 
  margin-bottom: 50px;  
  button{
    margin-top: 30px;
    background-color: hsl(230, 29%, 15%);
    padding: 20px 50px;
    border: none;
    color:hsl(228, 33%, 94%);
    border-radius: 20px;
    transition: 0.5s;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer; 
    &:hover{
      opacity: 0.7;
    }
  }
}

.white_color{
    color: #fff;
}
@media screen and (max-width: 355px) {
  .header-rlinks {
    & a{
      margin-right: 0.3125rem;
    }
  }
}

@media screen and (max-width: 376px) {
    .project-second-image{
      display: none;
    }

    .hide-for-mobile,
    .skills {
      display: none;
    }

    nav{
        a:not(:last-child){
            margin-right: 1.5625rem;
        }
    }

    .main-content {
      p{
        font-size: 12px;
      }
      a{
        margin-right: 0.625rem;
      }
    }

    .header-rlinks > a {
      margin-right: 0.3125rem;
    }

    .modal {
      width: 100%;
      height: 100%;
    }

    .technology-used>img {
      width: 1.875rem;
      height: 1.875rem;
      margin-right: 0.625rem;
    }

    .modal-content {
      width: 100%;
      height: auto;
    }

    .link a {
      padding: 10px 20px 10px 20px;
    }

    .grid a img:hover {
      transform: none;
    }

    .tab{
        text-align: left;
        padding-left: 0;
        font-size: 16px;
        margin-bottom: 30px;
    }

    social-media{
      padding: 10px 15px;
      color: #f1f1f1;
      font-size: small;
    }

  }


/* Hide for Tablet & Mobile Device */
@media screen and (max-width: 768px) {
    .hide-for-mobile{
      display: none;
    }
    .skills{
      display: none;
    }
    .snap-bgimage{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .desktop-img{
      width: 100%;
    }
    #projects{
      padding: 80px 0;
    }
    .main-content{
      h1{
        font-size: 35px;
        color: var(--almost-black);
      }
 
      &:nth-child(2){
        text-align: center;
      }
      span{
        display: none;
      }
    }

    .ux-design, .tech-used, .contact-det{
      h1{
        font-size: 35px;
      }
    }
    .grid{
      a{
        width: 100%;
      }
    }
  
    .project-title{
      font-size: large;
    }

    .project-image{
      width: 100%;
      height: auto;
    }
   .technology-used > img{
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    .modal-content{
      width: 100%;
      height: auto;
    }
    .link a{
      padding: 10px 20px 10px 20px;
    }
    .tab{
      text-align: left;
      padding-left: 0;
      font-size: 16px;
      margin-bottom: 30px;
   }
  
  }
  
  @media screen and (max-width: 992px) {
    .hide-for-mobile{
      display: none;
    }
    
  }
  
  /* Hide for Desktop */
  @media screen and (min-width: 1024px) {
    .hide-for-desktop{
      display: none;
    }
    .content{
      display: flex;
    }
    .main-content{
      h1{
        font-size: 55px;
        color: var(--almost-black);
      }
      a{
        margin-right: 0.625rem;
      }
    }
    .technology-used > img:hover{
      transform: scale(1.1);
    }
  }
  .attribution{
    padding: 50px;
  }
  .attribution > a:hover{
  color: blue;
  }
  
  #toTop {
    padding: 7px 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #a1cff1;
    position: fixed;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 0;
    right: 5px;
    font-size: 30px;
    display: none;
    transition: 0.9s;
    &:hover{
        cursor: pointer;
        color: #6ab2ea;
    }
}

// <--- Left Right Bottom Animation --->
.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 0.5s ease-in;
}
.active.fade-left {
  animation: fade-left 0.5s ease-in;
}
.active.fade-right {
  animation: fade-right 0.5s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// <--- End --->
 
.header-menu > span{
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  background-color: var(--ls-c-white);
}

span:not(:last-child){
  margin-bottom: 6px;
}
  
.sidenav {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background: hsl(266, 77%, 15%);
  padding-top: 30px;
  overflow-y: hidden;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  ul li a{
    color: #fff;
    padding-bottom: 15px;
  }
  .cross{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    transition: 0.5s;
    p{
      color: #fff;
    }
    a{
      transition: 0.5s;
      font-size: 50px;
      color: #fff;
    }
  }
}

.field{
  display: flex;
  label{
    color:#6ab2ea;
  }
  input{
    background: var(--ls-c-white);
    color: var(--ls-c-white)
  }
}
