nav{
    position: fixed;
    padding: 30px;
    background-color: var(--pale-blue);
    z-index: 5;
    &.navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        p {
            font-size: large;
            font-weight: 700;
        }
        a {
            transition: 0.5s;
            opacity: 0.6;
            &:not(:last-child){
                margin-right: 42px;
            }
        }
    }
}

.text-center{
    text-align: center;
}

.text-footer{
    padding: 30px;
    font-size: large;
    &p:hover{
        color: green;
    }
}

.header-section{
    background-color: rgb(184, 213, 234);
    &a:hover{
        transition: 0.5s;
        opacity: 0.6;
    }
}

.background-sunset{
    margin-top: -15px;
}

.header-menu > span{
    display: block;
    width: 1.625rem;
    height: 0.125rem;
    background-color: black;
    &:not(:last-child){
        margin-bottom: 6px;
    }
}

.header-links, .header-rlinks{
    font-size: 16px;
    font-weight: 700;
}

.header-links{
    margin-left: -400px;
}

a.btn-reg:nth-child(2){
    padding: 12px 22px;
    border: 2px solid var(--almost-black);
    border-radius: 15px;
    &:hover{
        border: 2px solid var(--almost-black);
        opacity: 1;
    }
}

.client-logos > img{
    position: relative;
    height: 19px;
    margin: 0 20px 20px 20px;
}

.tab{
    text-align: left;
    padding-left: 100px;
    font-size: 18px;
    margin-bottom: 30px;
}

.socmed{
    background-color: hsl(233, 100%, 94%);
    height: 90px;
    color: #596080;
    padding: 30px;
    div{
        display: flex;
        justify-content: space-between;
        width: 100%;
        ul li{
            font-size: 25px;
            justify-content: center;
            align-items: center;
            a{
                text-align: center;
                padding: 10px;
                border: 1px solid #acb0ca;
                &:hover{
                    background-color: #acb0ca;
                }
            }
        }
    }
}

.friend{
    font-size: 14px;
    a{
        color: rgb(184, 213, 234);
        text-decoration: underline;
        font-weight: 600;
        font-style: italic;
        &:hover{
            color:rgb(16, 136, 223);
        }
    }
}
