.main-content{
    padding: 200px 110px 110px 110px;
    margin: 0 auto;
    text-align: center;
    h1 {
        font-weight: 700;
        color: var(--almost-black);
    }
    p {
      font-weight: 500;
      font-size: 16px;  
      margin: 10px 0;
    }
    h3{
        font-size: 1.25rem;
        font-weight: 300;
    }

    a{
      font-family: var( --font-family);

    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    p {
        width: 100%;
        color: #000;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    img{
        width: 100%;
        height: 80%;
    }
    a{
        img{
            &:hover{
                transform: scale(1.1);
            }
        }
    }
  }



.grid-p p{
    background: #d3d3d3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#projects, .resume, #projects1{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    a{
        margin: 20px 5px 5px 0;
        width: 100%;
        max-width: 640px;
        font-weight: 700;
    }
}
.submit input{
    padding: 20px;
    width: 30%;
    font-size: inherit;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    border-radius: 50px;
    transition: 0.5s;
    &:hover{
        opacity: 0.6;
    }
}



.link a{
    padding: 15px;
    background-color: #0092E4;
    color: white;
    border-radius: 20px;
    transition: 0.9s;

    &:hover{
        background-color: #0092E4;
        opacity: 0.8;
        border-radius: 30px;
    }
}

footer{
    background-color: #230944;
    padding: 60px 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    ul li{
        text-align: center;
    }
}

.descModal, .lofiModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
   
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    transition: linear;
}

/* Modal Content */
.modal-content { 
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 400px;
    overflow: auto;
    border-radius: 10px;
    p {
        text-align: justify;
    }
    img {
        width: 100%;
        height: auto;
    }
}

  /* The Close Button */
.closedesc, .closelofi {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    &:hover, &:focus{
        color: red;
        text-decoration: none;
        cursor: pointer;
    }
}
  
.technology-used > img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
  
  .design {
    img{
        width: 40px;
        height: 40px;
        margin-top: 30px;
        margin-right: 10px;
    }
    p{
        font-size: 18px;
        font-family: 'Lato', sans-serif;
    }
    h3{
        background-color: #360e6b;
        padding: 20px;
        color: #fff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
  }

  .position {
    font-weight: 700;
  }

  .feat {
    background-image: linear-gradient(0deg, #6a6276,#230944, #0b0118);
    border-radius: 20px;
    padding: 20px;
  }
  
  img.cpass{
    width: 100%;
    height: auto;
  }
  .ux{
    padding-top: 20px;
    border-radius: 20px;
  }
  .bg{
    position: absolute;
    width: 50%;
    height: auto;
  }

  .tech-used{
    text-align: center;
  }

  .bg-lblue{
    background-color: hsl(205, 54%, 82%);
  }

  .f-docu{
    display: flex;
    justify-content: space-between;

    div{
      justify-content: center;
      align-items: center;
    }
    a{
      font-weight: 700;
      color: #0092E4;
      &:hover{
        opacity: 0.7;
      }
    }
    p{
      text-align: center;
      font-size: 12px;
      font-style: italic;
      font-weight: 600;
      color: #0092E4;
    }
  }
  
  .error{
    background-color: hsl(355, 70%, 91%);
    padding: 20px;
    border-radius: 5px;
    padding-top: 5px;
    font-weight: 200;
    font-size: 14px;
    color: hsl(2, 100%, 11%);
  }
  .get-in-touch{
    font-weight: 600; 
    color: #000;
  }