@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(266, 77%, 15%);
    --almost-black: hsl(0, 0%, 8%);
    --pale-blue: hsl(205, 54%, 82%);
    --font-family: 'Epilogue', sans-serif;
    --font-size: 0.875rem;
    --font-size-lg: 1.125rem;
}
